In [2]:
print("Hello")

Hello

## Variable

In [3]:
king="virat Kohli"

In [4]:
print(king)

virat Kohli

In [5]:
a=10

In [6]:
print(a)

10

In [7]:
powerstar="pavan kalyan"
Thala="MS Dhoni"
Bahubali="Prabhas"

In [8]:
print(powerstar)

pavan kalyan

In [9]:
print("powerstar")

powerstar

In [10]:
a=Manoj k

SyntaxError: invalid syntax (2266575865.py, line 1)

In [11]:
a="Manoj k"

In [28]:
a=10

In [27]:
b="10"

In [19]:
c=20

In [26]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
a+c

30

In [23]:
d="MAnoj"

In [24]:
a+d

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
a=10
b="10"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
a=10
b=20
print(a+b)

30

In [32]:
a=10
print(type(a))

<class 'int'>

In [33]:
a='20'
print(type(a))

<class 'str'>

In [34]:
a=3
b="Manoj"
print(a*b)

ManojManojManoj

In [35]:
a="zara"
b="mounica"
print(a+b)

zaramounica

In [36]:
a="zara"
b=7
print(a+b)

TypeError: can only concatenate str (not "int") to str

In [37]:
a="zara"
b=7
print(a*b)

zarazarazarazarazarazarazara

In [44]:
a="rahul" # string
age=18 #int
hight=6.2
# it wont execute this line

In [41]:
print(type(a))

<class 'str'>

In [42]:
print(type(age))

<class 'int'>

In [45]:
print(type(hight))

<class 'float'>

# DATA TYPES
## BASIC DATA TYPES:
    - INT
    - STRING
    - FLOAT
    - BOOLEAN

## ADVANCED DATA TYPES:
    - LISTS
    - TUPLES
    - SETS
    - DICTIONARIES

In [47]:
# INTERGER
age=35
print(age)
type(age)

35

int

In [48]:
## FLOAT
hight=5.8
print(hight)
print(type(hight))

5.8
<class 'float'>

In [50]:
# string 
name="Manoj"
print(name)
print(type(name))

Manoj
<class 'str'>

In [52]:
# boolen
is_true=True
is_false=False
print(is_true)
print(type(is_true))
print(type(is_false))

True
<class 'bool'>
<class 'bool'>

# OPERATORS

### ARITHMETIC OPERATORS:
- ADDITON
- SUB
- MULTIPLICATION
- DIVISION
- FLOO DIVISION
- MODULUS
- EXPONENTIALS

### COMPARISION OPERATORS:
- EQUAL
- NOT EQUAL
- GREATER THAN
- LESS THAN
- GREATER THAN EQUAL
- LESS THAN EQUAL

### LOGICAL OPERATORS
- AND
- OR
- NOT

# ARITHMETIC OPERATORS

In [54]:
a=10
b=5

In [55]:
addition=a+b
sub=a-b
multiplication=a*b
division=a/b

In [59]:
print(addition)
print(sub)
print(multiplication)
print(division)

15
5
50
2.0

In [60]:
floar_division=a//b
modulus=a%b
exponential=a**b

In [62]:
print(floar_division)
print(modulus)
print(exponential)

2
0
100000

In [63]:
a=10
b=3

print(a//b)
print(a/b)

3
3.3333333333333335

# Comparision operators
-  =
-  ==

In [64]:
a="zara" # a assign zara
print(a)

zara

In [65]:
a=="zara"
print(a)

zara

In [69]:
a==10
b==10

a==b

False

In [70]:
a=10
b=10

a==b

True

In [71]:
str1="mounica"
str2="mounica"
str1==str2

True

In [72]:
str1="mounica"
str2="mounica"
str1!=str2

False

In [73]:
a=10

if a==10:
    print("yes")

yes

In [78]:
a=10
b=10

a>b

False

In [75]:
a<b

True

In [79]:
a>=b

True

In [84]:
x=False
y=True

result = x and y
print(result)

False

In [85]:
x=False
y=True

result = x or y
print(result)

True

In [86]:
x=False
not x

True

In [88]:
x=True
print(type(x))

<class 'bool'>

In [89]:
x=true
print(type(x))

NameError: name 'true' is not defined

In [90]:
x=True
print(type(x))

<class 'bool'>

# CONDITONAL STATEMENT

In [91]:
if 1+2 == 3:
print("yes its right")

IndentationError: expected an indented block after 'if' statement on line 1 (2081602347.py, line 2)

In [92]:
if 1+2 == 3:
    print("yes its right")

yes its right

In [93]:
if 1+2 == 4:
    print("yes its right")

In [94]:
if 1+2 == 4:
    print("yes its right")
else:
    print("hey its wrong...!!")

hey its wrong...!!

In [95]:
if 1+2 == 4:
    print("yes its right")
else:
    print("hey its wrong...!!")

print("hey am outside loop")

hey its wrong...!!
hey am outside loop

In [96]:
if 1+2 == 4:
    print("yes its right")
else:
    print("hey its wrong...!!")

print("hey am outside loop")
  print("hey am testing thiss")

IndentationError: unexpected indent (3542392336.py, line 7)

In [97]:
if 1+2 == 4:
    print("yes its right")
else:
    print("hey its wrong...!!")

print("hey am outside loop")
print("hey am testing thiss")

hey its wrong...!!
hey am outside loop
hey am testing thiss

In [101]:
brand=input("Enter your fvt brand: ")

if brand == "oldmonk":
    print("This is tooo goood")
elif brand == "vodka":
    print("Boys wont drinks..")
elif brand == "KF":
    print("This strong...")
elif brand == "Teachers":
    print("this is good and expesive")
else:
    print("Other brands are not good")

Other brands are not good

In [103]:
brand=input("Enter your fvt brand: ")

if brand == "oldmonk":
    print("This is tooo goood")
elif brand == "vodka":
    print("Boys wont drinks..")
elif brand == "KF":
    print("This strong...")
elif brand == "Teachers":
    print("this is good and expesive")
else:
    print("Other brands are not good")

This is tooo goood

In [105]:
# simple caluclator
num1=10
num2=20

operations = input("enter your operation (+,-,*,/): ")
if operations == '+':
    result = a + b
elif operations == '-':
    result = a - b
elif operations == "*":
    result = a * b
elif operations == '/':
    result = a / b
else:
    print("Hey enter the operation which we specified")

print(f"So the operation as you requested result is {result}")

So the operation as you requested result is 20

In [107]:
# simple caluclator
num1=input("enter your number 1: ")
num2=input("enter your number 2: ")

operations = input("enter your operation (+,-,*,/): ")
if operations == '+':
    result = a + b
elif operations == '-':
    result = a - b
elif operations == "*":
    result = a * b
elif operations == '/':
    result = a / b
else:
    print("Hey enter the operation which we specified")

print(f"So the operation as you requested result is {result}")

So the operation as you requested result is 0

In [111]:
# simple caluclator
num1=float(input("enter your number 1: "))
num2=float(input("enter your number 2: "))
# num1=input("enter your number 1: ")
# num2=input("enter your number 2: ")
operations = input("enter your operation (+,-,*,/): ")
if operations == '+':
    result = num1 + num2
elif operations == '-':
    result = num1 - num2
elif operations == "*":
    result = num1 * num2
elif operations == '/':
    result = num1 / num2
else:
    print("Hey enter the operation which we specified")

print(f"So the operation as you requested result is {result}")

So the operation as you requested result is 0.9523809523809523

In [112]:
# simple caluclator
num1=eval(input("enter your number 1: "))
num2=eval(input("enter your number 2: "))
# num1=input("enter your number 1: ")
# num2=input("enter your number 2: ")
operations = input("enter your operation (+,-,*,/): ")
if operations == '+':
    result = num1 + num2
elif operations == '-':
    result = num1 - num2
elif operations == "*":
    result = num1 * num2
elif operations == '/':
    result = num1 / num2
else:
    print("Hey enter the operation which we specified")

print(f"So the operation as you requested result is {result}")

SyntaxError: invalid syntax (<string>, line 0)

In [113]:
print("manoj"*3)

manojmanojmanoj

In [114]:
print("manoj"+3)

TypeError: can only concatenate str (not "int") to str

In [116]:
print("manoj"*"3")

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
# str + int --> wont work
# str * int --> works
# str + str --> works
# str * str --> wont work

# Loops

In [117]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [118]:
range(5)

range(0, 5)

In [122]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [123]:
for i in range(5): # 0,1,2,3,4
    print(i)

0
1
2
3
4

In [124]:
for i in range(1,5):
    print(i)

1
2
3
4

In [126]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [127]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [128]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [129]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [132]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [133]:
s="Zara"

for i in s:
    print(i)

Z
a
r
a

In [134]:
# while loop 

count = 0 
while count <=5:
    print(count)
    count=count+1

0
1
2
3
4
5

In [136]:
for i in range(50):
    if i == 3:
        break
    print(i)

0
1
2

In [137]:
for i in range(10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [138]:
for i in range(10):
    if i == 3:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [142]:
# Nested loops

for i in range(5): #0,1,2,3,4
    for j in range(5): #0,1,2,3,4
     print(f"the value i is {i} then j value {j}")

the value i is 0 then j value 0
the value i is 0 then j value 1
the value i is 0 then j value 2
the value i is 0 then j value 3
the value i is 0 then j value 4
the value i is 1 then j value 0
the value i is 1 then j value 1
the value i is 1 then j value 2
the value i is 1 then j value 3
the value i is 1 then j value 4
the value i is 2 then j value 0
the value i is 2 then j value 1
the value i is 2 then j value 2
the value i is 2 then j value 3
the value i is 2 then j value 4
the value i is 3 then j value 0
the value i is 3 then j value 1
the value i is 3 then j value 2
the value i is 3 then j value 3
the value i is 3 then j value 4
the value i is 4 then j value 0
the value i is 4 then j value 1
the value i is 4 then j value 2
the value i is 4 then j value 3
the value i is 4 then j value 4

In [ ]:
for num in range(1,100):
    if num >1:
        for i in range(2,num):
            if num % i == 0:
                break
        else:
             print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
for i in range(1,10):
    if i%2==0:
       print(i)

2
4
6
8

In [4]:
for num in range (1,20):
    if (num % 2) == 0:
        print(f"{num} is Even")
    else:
        print(f"{num} is Odd")

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even
11 is Odd
12 is Even
13 is Odd
14 is Even
15 is Odd
16 is Even
17 is Odd
18 is Even
19 is Odd